.topnav {
    position:inherit;
      background-color:#222;
      overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color:aqua;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color:crimson;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: plum;
      color: crimson;
    }
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background:#04AA6D;
      font-size: 15px;
      border: solid;
      cursor: pointer;
    }
    
    .topnav .search-container button:hover {
      background: #ccc;
    }
    
    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .dropbtn {
          background-color:darkslategrey;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
  }
    }
    .navbar {
      overflow: hidden;
      background-color: #333;
      font-family: 'Times New Roman', Times, serif;
    }
    
    /* Links inside the navbar */
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color:aqua;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }
  /* Add a background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:plum;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  body, html {
    height: 100%;
    margin: 0;
    font-family:'Times New Roman';
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bere1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:aqua;
    width: 100%;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
    width: 100%;
    color: black;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background:chocolate;

  }
  
  .leftcolumn {
    float: left;
    width: 100%;
    padding-left: 10px;
  }
  
  .rightcolumn {
    float: left;
    width: 100%;
    padding-left: 0px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color:burlywood;
    color: black;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 95%;
      padding: 0;
    }
  }
  * {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("./AdobeStock_287056552.webp");

  /* Control the height of the image */
  min-height: 1000px;
  width: 100%;
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  width: 50%;
  height:fit-content;
  padding: 16px;
  background-color:burlywood;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for the submit button */
.btn {
  background-color:#04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

body {
  background-color:chocolate;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Center website */
.main {
  max-width: 100%;
  margin: auto;
}

h1 {
  font-size: 40px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color:aqua;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

.DG{
  background-image: url(./TouristAttractionsinSriLanka2.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.ft{
  align-items: center;
  justify-items: center;
}
  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width:100%;
    transition: all 1s;
    cursor: pointer;
    margin: 4px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    width: 98%;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


.footer {
  position:static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#222;
  color:aqua;
  text-align:center;
}
.footer1 {
  position:static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#222;
  color:aqua;
  text-align: center;
}
.str{
  width: 98%;
}
/*reference*/

/*images 

Web Site Logo.png Created by me */

/*main image - Pinterest(2019) Available at - bere1.jpg (Accessed June 2022)

/*background image - Pinterest(2020) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/Tourist-Attractions-in-Sri-Lanka-2.webp (Accessed June 2022)

Pinterest(2022) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/sustainable-investments.webp (Accessed June 2022)

Pinterest(2012) Available at - 22bdd81f00008f8e44e763a7f8f5497c.jpg (Accessed June 2022)

Pinterest(2012) Available at - 616f9c9751c317f1cab7a49b19ec01ed.jpg (Accessed June 2022)

Pinterest(2011) Available at - e2665d2e9b956e0942dc935a18e74103.jpg (Accessed June 2022)

Pinterest(2012) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/good+quality+batik+design+02.webp (Accessed June 2022)

Pinterest(2018) Available at - bd1.jpg (Accessed June 2022)

Pinterest(2019) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/bottom_img_01.webp (Accessed June 2022)

Pinterest(2019) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/15251719134_ae07fc2ee2_o.webp (Accessed June 2022)

Pinterest(2017) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/gems-of-lanka-1.webp (Accessed June 2022)

Pinterest(2018) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/UNAVATUNA+013.webp (Accessed June 2022)

Pinterest(2019) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/DS-090113-4367.webp (Accessed June 2022)

Pinterest(2020) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/black-tea-e1559472467846.webp (Accessed June 2022)

Pinterest(2022) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/green-tea-shutterstock_300587603.webp (Accessed June 2022)

Pinterest(2013) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/foto_no_exif-46.webp (Accessed June 2022)

Pinterest(2012) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/Cinnamon-Tea.webp (Accessed June 2022)

Pinterest(2011) Available at - file:///C:/Users/acer/OneDrive/Desktop/Web%20Final%20Assignment/ct1.webp (Accessed June 2022)

Web Content - Corporate Website of the Sri Lanka Tourism Development Authority(2022) Available at - https://www.srilanka.travel/(Accessed June 2022)

SO Sri Lanka, Sri Lanka Tourism Development Authority(2022)Available at -https://www.srilanka.travel/# (Accessed June 2022)